# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.venv/
env/

# Django
*.log
db.sqlite3
staticfiles/

# Variáveis de ambiente
.env
.env.*

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/